<%- include('header'); -%>
<div class="container">
  <h1><%= title %></h1>
  <div class="row">
    <p>Add a new book...</p>
  </div>
  <div class="row justify-content-center">
    <div class="spinner-border" role="status" id="loading-spinner">
      <span class="visually-hidden">Loading...</span>
    </div>
    <table class="table d-none" id="book-table">
      <thead>
        <tr>
          <th scope="column">Author</th>
          <th scope="column">Title</th>
          <th scope="column">Year</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div class="alert alert-danger d-none" role="alert" id="loading-alert">
      Cannot load the list of books.
    </div>
  </div>
</div>
<script src="/scripts/book-script.js" defer></script>
<%- include('footer') -%>
