<%- include('header'); %>
<div class="container">
  <h1><%= title %></h1>
  <form method="post" class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="authorInput" class="form-label">Author</label>
      <input
        type="text"
        name="author"
        required
        minlength="3"
        placeholder="John Smith"
        id="authorInput"
        class="form-control"
      />
      <div class="invalid-feedback">Author is required</div>
    </div>
    <div class="mb-3">
      <label for="titleInput" class="form-label">Title</label>
      <input
        type="text"
        name="title"
        required
        minlength="3"
        placeholder="A fantastic tale"
        id="titleInput"
        class="form-control"
      />
      <div class="invalid-feedback">Title is required</div>
    </div>
    <div class="mb-3">
      <label for="year" class="form-label">Year</label>
      <input
        type="number"
        name="year"
        required
        min="0"
        max="2100"
        placeholder="1789"
        id="year"
        class="form-control"
      />
      <div class="invalid-feedback">A year between 0 and 2100 is required</div>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Create</button>
      <a href="/books" class="btn btn-outline-secondary">Cancel</a>
    </div>
  </form>
  <script src="/scripts/form-validation.js"></script>
</div>
<%- include('footer') %>
