  <% if (settings.env === 'development') { -%>
<<<<<<< HEAD
    <script src="http://127.0.0.1:35729/livereload.js?snipver=1"></script>
=======
    <script src="http://127.0.0.1:35729/livereload.js"></script>
>>>>>>> b0a3f029e64b9843d4a19fb53f337d4f005d1638
  <% } -%>
  </body>
</html>
