<%- include('header'); -%>
<div class="container">
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <div><a href="/books" class="btn btn-primary">Book list</a></div>
</div>

<%- include('footer') -%>
